## MEAN ENCODING

<b>
In it we fill the mean value in place of label<br>
Define-:In Mean encoding, we calculate the mean of the target variable for each category and replace the category variable with the mean value.</b>

In [1]:
import pandas as pd
df=pd.read_csv('titanic_train.csv', usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [2]:
# Filling the NAN by Category Named Missing
df['Cabin'].fillna('Missing',inplace=True)

In [3]:
df

     Survived    Cabin
0           0  Missing
1           1      C85
2           1  Missing
3           1     C123
4           0  Missing
..        ...      ...
886         0  Missing
887         1      B42
888         0  Missing
889         1     C148
890         0  Missing

[891 rows x 2 columns]

In [4]:
 #taking the First letter from the cabin string
df['Cabin']=df['Cabin'].astype(str).str[0]

In [5]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [6]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [11]:
#Taking the mean of Survived w.r.t to Cabin and print them to dict 
mean_ordinal_encode=df.groupby(['Cabin'])['Survived'].mean().to_dict()

In [12]:
mean_ordinal_encode

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [13]:
#making the new feature that will map the cabin with mean_ordinal_encode 
df['mean_ordinal_encoded']=df['Cabin'].map(mean_ordinal_encode)
df

     Survived Cabin  mean_ordinal_encoded
0           0     M              0.299854
1           1     C              0.593220
2           1     M              0.299854
3           1     C              0.593220
4           0     M              0.299854
..        ...   ...                   ...
886         0     M              0.299854
887         1     B              0.744681
888         0     M              0.299854
889         1     C              0.593220
890         0     M              0.299854

[891 rows x 3 columns]

### Pros of MeanEncoding:

1.Capture information within the label, therefore rendering more predictive features<br>
2.Creates a monotonic relationship between the variable and the target

### Cons of MeanEncodig:

1.It may cause over-fitting in the model.